@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
.loader {
  margin: 0 0 2em;
  height: 100px;
  width: 100%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

svg path,
svg rect {
  fill: #ec362d;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

body {
  background-color: #fafafa;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 69px;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ec362d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header__title {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 37px;
  font-weight: 700;
}

.page {
  position: relative;
  top: 69px;
  background-color: #fafafa;
  height: calc(100% - 69px);
}
.page.page-quizzes {
  padding-top: 40px;
  transition: all 100ms ease-in;
  margin: 0 auto;
  padding-bottom: 50px;
  max-width: 340px;
}
@media screen and (min-width: 1000px) {
  .page.page-quizzes {
    max-width: 1152px;
    padding: 0 50px;
  }
}
.page.page-quizzes .quizzes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1000px) {
  .page.page-quizzes .quizzes {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}
.page.page-quizzes .quizzes__user-quizzes {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1000px) {
  .page.page-quizzes .quizzes__user-quizzes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }
}
.page.page-quizzes .quizzes__user-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px dashed #d5d5d5;
  border-radius: 5px;
  padding: 40px;
  margin: 0 0 35px;
}
.page.page-quizzes .quizzes__user-empty.hide {
  display: none;
}
@media screen and (min-width: 1000px) {
  .page.page-quizzes .quizzes__user-empty {
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 0;
  }
}
.page.page-quizzes .quizzes__empty-message {
  width: 80%;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #b9b9b9;
  margin-bottom: 20px;
}
.page.page-quizzes .quizzes__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}
@media screen and (min-width: 1000px) {
  .page.page-quizzes .quizzes__title-container {
    justify-content: flex-start;
    margin: 7px 0;
  }
}
.page.page-quizzes .quizzes__create-quizz {
  width: 151px;
  background-color: transparent;
  color: #ec362d;
  font-size: 21px;
  line-height: 25px;
  vertical-align: middle;
  border: 1px dashed #ec362d;
  border-radius: 50px;
  padding: 7px 20px;
}
.page.page-quizzes .quizzes__create-quizz--small {
  background-color: #ec362d;
  width: 30px;
  height: 30px;
  color: #fafafa;
  font-size: 24px;
  vertical-align: middle;
  border: none;
  border-radius: 50%;
  flex-grow: 0;
  flex-shrink: 0;
}
.page.page-quizzes .quizzes__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  margin-right: 15px;
}
.page.page-quizzes .quizzes__all-quizzes {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1000px) {
  .page.page-quizzes .quizzes__all-quizzes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }
}
.page.page-quizzes .quizzes .quiz {
  position: relative;
  overflow-wrap: break-word;
  height: 181px;
  width: 100%;
  margin-bottom: 15px;
}
@media screen and (min-width: 1000px) {
  .page.page-quizzes .quizzes .quiz {
    margin: 0;
  }
}
.page.page-quizzes .quizzes .quiz__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.page.page-quizzes .quizzes .quiz__title {
  position: absolute;
  bottom: 15px;
  z-index: 2;
  width: 100%;
  padding: 0 25px;
  color: white;
  font-size: 19px;
  font-weight: normal;
  line-height: 22px;
}
.page.page-quizzes .quizzes .quiz::before {
  content: "";
  background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.585) 30%, transparent 100%);
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}
@media screen and (min-width: 1000px) {
  .page.page-quiz .quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.page.page-quiz .quiz img {
  width: 100%;
}
.page.page-quiz .quiz__header {
  width: 100%;
  height: 142px;
  position: relative;
  margin-bottom: 24px;
}
.page.page-quiz .quiz__header::before {
  content: "";
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}
.page.page-quiz .quiz__header-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center 25%;
}
.page.page-quiz .quiz__header-title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 19px;
  font-weight: normal;
  line-height: 22px;
  padding: 20px;
}
@media screen and (min-width: 1000px) {
  .page.page-quiz .quiz__questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 759px;
  }
}
.page.page-quiz .quiz__question {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 18px;
  margin-bottom: 28px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
@media screen and (min-width: 1000px) {
  .page.page-quiz .quiz__question {
    width: 100%;
  }
}
.page.page-quiz .quiz__question-text {
  background-color: #434ca0;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 19px;
  padding: 25px;
}
@media screen and (min-width: 1000px) {
  .page.page-quiz .quiz__question-text {
    padding: 40px;
  }
}
.page.page-quiz .quiz__answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  margin-top: 15px;
}
.page.page-quiz .quiz__answer {
  flex-basis: calc(50% - 6px);
}
.page.page-quiz .quiz__answer-image {
  height: 113px;
  object-fit: cover;
}
@media screen and (min-width: 1000px) {
  .page.page-quiz .quiz__answer-image {
    height: 175.2px;
  }
}
.page.page-quiz .quiz__answer-text {
  font-weight: 700;
  font-size: 13px;
  line-height: 15, 23px;
  padding: 5px 0;
}
@media screen and (min-width: 1000px) {
  .page.page-quiz .quiz__answer-text {
    font-size: 20px;
  }
}
.page.page-quiz .quiz__result {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 18px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.page.page-quiz .quiz__result:empty {
  display: none;
}
@media screen and (min-width: 1000px) {
  .page.page-quiz .quiz__result {
    width: 759px;
    margin: 0 auto;
  }
}
.page.page-quiz .quiz__result-title {
  background-color: #434ca0;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 19px;
  padding: 30px 15px;
}
.page.page-quiz .quiz__result-info {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 15px;
}
.page.page-quiz .quiz__result-image {
  height: 255px;
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 1000px) {
  .page.page-quiz .quiz__result-image {
    width: 50%;
  }
}
.page.page-quiz .quiz__result-text {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  padding: 5px 0;
}
@media screen and (min-width: 1000px) {
  .page.page-quiz .quiz__result-text {
    width: calc(50% - 12px);
  }
}
.page.page-quiz .quiz__restart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
}
.page.page-quiz .quiz__restart-button {
  background-color: #ec362d;
  color: white;
  font-size: 18px;
  line-height: 21px;
  border: none;
  border-radius: 15px;
  max-width: 260px;
  min-width: 220px;
  padding: 13px;
  margin-top: 34px;
}
.page.page-quiz .quiz__restart-home {
  color: #818181;
  font-size: 18px;
  padding: 20px 0 80px;
}

.hide {
  display: none;
}

.hide--left {
  transform: translateX(-100%);
}

.hide--right {
  transform: translateX(100%);
}

.correct {
  color: #009c22;
  pointer-events: none;
}

.wrong {
  color: #ff4b4b;
  pointer-events: none;
}

.not-selected {
  opacity: 30%;
}

.basic-info {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  size: 100vh;
  background-color: #009C22;
}

.go-next-button {
  background-color: #EC362D;
  color: #FFF5F4;
  font-size: 18px;
  line-height: 21px;
  border: none;
  border-radius: 15px;
  max-width: 260px;
  min-width: 220px;
  padding: 13px;
  margin-top: 34px;
}  

h2{
  font-size: 20px;
  font-weight: bold;
}




/*# sourceMappingURL=style.css.map */
