@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

$font-standard: "Roboto", sans-serif;

$color-header: #ec362d;
$color-button: #ec362d;
$color-background: #fafafa;
$color-title: white;
$color-correct-answer: #009c22;
$color-wrong-answer: #ff4b4b;
$color-back-to-home: #818181;
$color-empty-quiz-text: #b9b9b9;
$color-empy-quiz-border: #d5d5d5;
$color-input-placeholder: #bababa;

@mixin desktop-only {
    @media screen and (min-width: 1000px) {
        @content;
    }
}

.loader {
    margin: 0 0 2em;
    height: 100px;
    width: 100%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
}
svg path,
svg rect {
    fill: $color-header;
}
.loading--page {
    transition: all 0.2s;
    background-color: rgba(255, 255, 255, 0.95);
    position: fixed;
    z-index: 5;
    top: 69px;
    left: 0;
    right: 0;
    bottom: 0;
}

* {
    font-family: $font-standard;
    box-sizing: border-box;
    overflow-wrap: break-word;
}

body {
    background-color: $color-background;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 69px;
    z-index: 4;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $color-header;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &__title {
        font-family: $font-standard;
        color: $color-title;
        font-size: 37px;
        font-weight: 700;
    }
}

.page {
    position: relative;
    top: 69px; //TEMPORÁRIO
    background-color: $color-background;

    height: calc(100% - 69px);

    &.page-quizzes {
        padding-top: 40px;
        transition: all 100ms ease-in;

        margin: 0 auto;
        padding-bottom: 50px;

        max-width: 340px;

        @include desktop-only() {
            max-width: 1152px;
            padding: 40px 50px 0;
        }

        .quizzes {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;

            @include desktop-only() {
                flex-wrap: wrap;
                padding-bottom: 40px;
            }

            &__user-quizzes {
                width: 100%;
                display: flex;
                flex-direction: column;

                @include desktop-only() {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 12px;
                }
            }

            &__user-empty {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                width: 100%;

                border: 1px dashed $color-empy-quiz-border;
                border-radius: 5px;

                padding: 40px;
                margin: 0 0 35px; //TEMPORÁRIO

                &.hide {
                    display: none;
                }

                @include desktop-only() {
                    grid-column-start: 1;
                    grid-column-end: 4;
                    margin: 0 0 35px;
                }
            }

            &__empty-message {
                width: 80%;

                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: $color-empty-quiz-text;

                margin-bottom: 20px;
            }

            &__title-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                margin-bottom: 15px;

                @include desktop-only() {
                    justify-content: flex-start;
                    margin: 7px 0;
                }
            }

            &__create-quizz {
                width: 151px;
                background-color: transparent;

                color: $color-button;
                font-size: 21px;
                line-height: 25px;
                vertical-align: middle;

                border: 1px dashed $color-button;
                border-radius: 50px;

                padding: 7px 20px;

                &--small {
                    background-color: $color-button;

                    width: 30px;
                    height: 30px;

                    color: $color-background;
                    font-size: 24px;
                    vertical-align: middle;

                    border: none;
                    border-radius: 50%;

                    flex-grow: 0;
                    flex-shrink: 0;
                }
            }

            &__title {
                font-weight: 700;
                font-size: 20px;
                line-height: 23px;
                margin-right: 15px;
            }

            &__all-quizzes {
                width: 100%;
                display: flex;
                flex-direction: column;

                @include desktop-only() {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 12px;
                }
            }

            .quiz {
                position: relative;

                overflow-wrap: break-word;

                height: 181px;
                width: 100%;

                margin-bottom: 15px;

                @include desktop-only() {
                    margin: 0;
                }

                &__image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                    border-radius: 5px;
                }
                &__title {
                    position: absolute;
                    bottom: 15px;
                    z-index: 2;

                    width: 100%;

                    padding: 0 25px;

                    color: white;
                    font-size: 19px;
                    font-weight: normal;
                    line-height: 22px;
                }

                &::before {
                    content: "";
                    background: linear-gradient(
                        to top,
                        rgba(0, 0, 0, 1) 0%,
                        rgba(0, 0, 0, 0.585) 30%,
                        transparent 100%
                    );
                    border-radius: 5px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: 0;
                    z-index: 1;
                }

                &.user-quiz {
                    .modify-icons {
                        transform: translateX(0%);
                        width: 0%;
                        transition: width 0.2s;
                        background-color: $color-button;
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        z-index: 1;
                        top: 10%;
                        right: 0;
                        border-radius: 10px 0px 0px 11px;
                        &__edit-icon {
                            padding: 10px 10px 10px 12px;
                        }
                        &__delete-icon {
                            padding: 10px 10px 10px 12px;
                        }
                    }
                }

                &.user-quiz:hover {
                    .modify-icons {
                        transform: translateX(0%);
                        width: 12%;
                    }
                }
            }
        }
    }

    &.page-quiz {
        .quiz {
            @include desktop-only() {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            img {
                width: 100%;
            }

            &__header {
                width: 100%;
                height: 142px;
                position: relative;

                margin-bottom: 24px;

                &::before {
                    content: "";
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
                    border-radius: 5px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: 0;
                    z-index: 1;
                }
            }

            &__header-image {
                height: 100%;
                width: 100%;

                object-fit: cover;
                object-position: center 25%;
            }

            &__header-title {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 2;

                width: 100%;
                text-align: center;

                color: white;
                font-size: 19px;
                font-weight: normal;
                line-height: 22px;

                padding: 20px;
            }

            &__questions {
                @include desktop-only() {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 759px;
                }
            }

            &__question {
                display: flex;
                flex-direction: column;

                background-color: white;

                padding: 18px;
                margin-bottom: 28px;

                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

                @include desktop-only() {
                    width: 100%;
                }
            }

            &__question-text {
                background-color: #434ca0; //TEMPORÁRIO

                text-align: center;
                color: white;
                font-weight: 700;
                font-size: 19px;

                padding: 25px;

                @include desktop-only() {
                    padding: 40px;
                }
            }

            &__answers {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                gap: 12px;

                margin-top: 15px;
            }

            &__answer {
                width: 25%;
            }

            &__answer-image {
                height: 113px;
                object-fit: cover;

                @include desktop-only() {
                    height: 175.2px;
                }
            }

            &__answer-text {
                font-weight: 700;
                font-size: 13px;
                line-height: 15, 23px;
                padding: 5px 0;

                @include desktop-only() {
                    font-size: 20px;
                }
            }

            &__result {
                display: flex;
                flex-direction: column;

                background-color: white;

                padding: 18px;
                margin-bottom: 10px;

                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

                &:empty {
                    display: none;
                }

                @include desktop-only() {
                    width: 759px;
                    margin: 0 auto;
                }
            }

            &__result-title {
                background-color: #434ca0; //TEMPORÁRIO

                text-align: center;
                color: white;
                font-weight: 700;
                font-size: 19px;

                padding: 30px 15px;
            }

            &__result-info {
                display: flex;
                flex-wrap: wrap;

                gap: 12px;

                margin-top: 15px;
            }

            &__result-image {
                height: 255px;
                width: 100%;
                object-fit: cover;

                @include desktop-only() {
                    width: 50%;
                }
            }

            &__result-text {
                font-weight: 700;
                font-size: 17px;
                line-height: 20px;
                padding: 5px 0;

                @include desktop-only() {
                    width: calc(50% - 12px);
                }
            }

            &__restart {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                background-color: $color-background;
            }

            &__restart-button {
                background-color: $color-button;

                color: white;
                font-size: 18px;
                line-height: 21px;

                border: none;
                border-radius: 15px;

                max-width: 260px;
                min-width: 220px;
                padding: 13px;
                margin-top: 34px;
            }

            &__restart-home {
                color: $color-back-to-home;
                font-size: 18px;
                padding: 20px 0 80px;
            }
        }
    }

    &.page-create-quiz {
        & input {
            display: block;
        }
        .create-quiz {
            &__basic-info,
            &__create-questions,
            &__create-levels {
                margin-bottom: 200px;
                @include desktop-only() {
                    width: 600px;
                    margin: 0 auto 200px;
                }
            }

            &__page-title {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 89px;

                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
            }

            &__info,
            &__question,
            &__level {
                background-color: white;
                padding: 15px 0px;
                margin: 0 0 20px;

                .input {
                    width: 93%;
                    padding: 13px;
                    margin: 0 auto 13px;

                    border: 1px solid #d1d1d1;
                    border-radius: 5px;

                    &::placeholder {
                        font-style: italic;
                        font-size: 19px;
                        color: $color-input-placeholder;
                    }
                }
            }

            &__button {
                display: block;
                background-color: $color-button;

                color: white;
                font-size: 18px;
                line-height: 21px;
                font-weight: 400;

                border: none;
                border-radius: 15px;

                width: 80%;

                padding: 13px;
                margin: 34px auto;

                &--acess-quiz {
                    width: 220px;
                    margin: 34px auto 5px;
                }
            }

            &__question-header,
            &__level-header {
                position: relative;
            }

            &__input-set {
                margin: 15px 0px 35px;

                &:last-child {
                    margin: 15px 0px 15px;
                }
            }

            &__input-title {
                position: relative;
                width: 93%;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                margin: 5px auto 10px;
            }
            &__edit-icon {
                &::after {
                    content: url("../images/icons/edit.svg");
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }

            .quiz {
                position: relative;

                overflow-wrap: break-word;

                height: 181px;
                max-width: 340px;

                margin: 0 auto 15px;

                @include desktop-only() {
                    margin: 0 auto;
                    max-width: 500px;
                    height: 266px;
                }

                &__image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                    border-radius: 5px;
                }
                &__title {
                    position: absolute;
                    bottom: 15px;
                    z-index: 2;

                    width: 100%;

                    padding: 0 25px;

                    color: white;
                    font-size: 19px;
                    font-weight: normal;
                    line-height: 22px;
                }

                &::before {
                    content: "";
                    background: linear-gradient(
                        to top,
                        rgba(0, 0, 0, 1) 0%,
                        rgba(0, 0, 0, 0.585) 30%,
                        transparent 100%
                    );
                    border-radius: 5px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: 0;
                    z-index: 1;
                }
            }

            &__restart-home {
                color: $color-back-to-home;
                font-size: 18px;
                padding: 20px 0 80px;
                text-align: center;
            }
        }
    }
}

// Modifiers

.hide {
    display: none;
}

.hide--left {
    transform: translateX(-100%);
}

.hide--right {
    transform: translateX(100%);
}

.correct {
    color: $color-correct-answer;
    pointer-events: none;
}

.wrong {
    color: $color-wrong-answer;
    pointer-events: none;
}

.not-selected {
    opacity: 30%;
}
